body{
  background-color: black;
}

.App{
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.game-container{
  position: absolute;
  top: 22%;
  left: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  /* height: 50vh;
  width: 60vh; */
} 

.game-right{
  display: flex;
  align-items: center;
  width: 30%;
}

.movement-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movement-buttons img{
  width: 25%;
}

.world-desc{
  word-wrap: normal;
  text-align: center;
}

.left-arrow{
  margin-right: 20%;
}

.game-bg{
  position: relative;
}

.game-char{
  position: absolute;
  bottom: 0;
}

.landing-page img{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.landing-page{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page h2{
  position: absolute;
  bottom: 20px;
  color: white;
  margin-bottom: 2vh;
}