body{
  background-color: black;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

.game-container{
  position: absolute;
  top: 18.5%;
  left: 29.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
  /* height: 50vh;
  width: 60vh; */
} 

.game-right{
  color: white;
  display: flex;
  align-items: center;
  width: 30%;
}

.movement-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.movement-buttons img{
  width: 30px;
}

.movement-buttons p{
  margin: 4px 0;
  font-size: 30px;
  color: #a3a3a3;
}

.center-buttons{
  display: block;
}

.world-desc{
  word-wrap: normal;
  text-align: center;
}

.left-arrow{
  margin-right: 25px;
}

.game-bg{
  position: relative;
}

.game-char{
  position: absolute;
  bottom: 0;
}

.landing-page img{
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.landing-page{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page h2{
  position: absolute;
  bottom: 20px;
  color: white;
  margin-bottom: 2vh;
}

.bg-img{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: 618px;
}

.menu{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}

.menu a{
  text-decoration: none;
  color: white;
}

.signup, .signin{
  position: absolute;
  top: 32%;
  left: 34%;
  
}

.signup form, .signin form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup form input, .signin form input{
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 4px;
}

.signup form button, .signin form button{
  border-radius: 4px;
  padding: 4px;
  width: 80%;
}

.login-error{
  margin-top: 10px;
  max-width: 300px;
}

.modals{
  position: absolute;
  top: 130px;
  left: 50px;
  width: 225px;
 /* max-height: 100px; */
  background-color: white;
  font-size: 10px;
  border: 3px solid black;
  border-radius: 4px;
  padding: 6px;
}

.modals button{
  border: 3px solid black;
}

.modals button:hover{
  background-color: gainsboro;
}

.modals p{
  margin-bottom: 6px;
}

.cont-txt{
  font-size: 8px;
}